* {
    margin: 0;
    padding: 0;
}
html{

    scroll-behavior: smooth;
}
.main {
    background-image: url(file:///C:/Users/ogge9/Desktop/Gron132.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon {
    width: 200px;
    float: left;
    height: 70px;
}
.logo {
    color: rgb(255, 136, 0);
    font-size: 35px;
    font-family: "Arial";
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    cursor: pointer;
}
.logo:hover{
    color: rgb(255, 255, 255);
}
.menu {
    width: 400px;
    float: left;
    height: 70px;
}

ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px
}

ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Arial";
    font-size: 14px;
    font-weight: bold;
    transition: 0.4s ease;
}   

ul li a:hover{
    color: rgb(255, 136, 0);
}

.search {
    width: 330px;
    float: right;
    margin-left: 270px;
    margin-top:18px;
}

.srch{
    font-family: Arial;
    width: 200px;
    height: 40px; 
    background: transparent;
    border: 1px solid rgb(255, 136, 0);
    color:#fff;
    border-right:none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    cursor: pointer;
    transition: background-color 0.8s, color 0.5s;
    transition: box-shadow 0.15s;
}

.btn{
    width: 100px;
    height: 40px; 
    background: rgb(255, 136, 0);
    border: 2px solid rgb(255, 136, 0);
    color:#fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}

.btn:focus{
outline: none;
}

.srch:focus{
    outline: none;
}

.content {
    position: relative;
    color: #fff;
    margin:auto;
    width:1200px;
    height:auto;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
   line-height: 30px;
}

.content h1{
    font-family: Arial;
    font-size: 50px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: rgb(255, 136, 0);
    border: none;
    margin-bottom: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.4s ease;
    border-radius: 5px;
}

.content .cn:hover{
    background: rgb(255, 255, 255);
    color: rgb(255, 136, 0);
}

ul {    
    margin-left: 10px;

}

h3{ 
    margin-left: 72px;
    color: rgb(255, 136, 0);
    font-size: 40px;

}















