* {
    margin: 0;
    padding: 0;
}
::before ::after    {box-sizing: border-box;}
html{

    scroll-behavior: smooth;
}
.main {
    background-image: url(file:///C:/Users/ogge9/Documents/Fullstack25Code/ProjektArbete/kyoto_temple_green.webp);
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 125vh;
}


.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
    background-color: #000000;
    background:linear-gradient(to top, rgba(0,0,0,0.8)10% , rgba(0,0,0,0.8)10%);
    border-radius: 10px;
    padding-top:5px;
    padding-bottom:5px;
    
}
.navbar a.active{
color: rgb(255, 136, 0);
}
.icon {
    width: 200px;
    float: left;
    height: 70px;
}
.logo {
    color: rgb(255, 136, 0);
    font-size: 35px;
    font-family: "Arial";
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    cursor: pointer;
}

.menu {
    width: 400px;
    float: left;
    height: 70px;
    
}

ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px
}

ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Arial";
    font-size: 14px;
    font-weight: bold;
    transition: 0.4s ease;
}   

ul li a:hover{
    color: rgb(255, 136, 0);
}

.search {
    width: 330px;
    float: right;
    margin-left: 270px;
    margin-top:18px;
}

.srch{
    font-family: Arial;
    width: 200px;
    height: 40px; 
    background: transparent;
    border: 1px solid rgb(255, 136, 0);
    color:#fff;
    border-right:none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    cursor: pointer;
    transition: background-color 0.8s, color 0.5s;
    transition: box-shadow 0.15s;
}

.btn{
   width: 100px;
    height: 40px; 
    background: rgb(255, 136, 0);
    border: 2px solid rgb(255, 136, 0);
    color:#fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}
.search :hover{
    color: rgb(255, 136, 0);
}
/* Fråga Alex nästa vecka
.search :hover{
    background-color: rgba(255, 136, 0, 0.43);
    color: white;
}
*/    

.btn:focus{
outline: none;
}

.srch:focus{
    outline: none;
}

.content {
    position: sticky;
    color: #fff;
    margin:auto;
    width:500px;
    height:auto;
    background-color: #000000;
    background:linear-gradient(to top, rgba(0,0,0,0.8)10% , rgba(0,0,0,0.8)10%);
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom:50px;
    margin-right: 52.3%;
}

.content .par{
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
   line-height: 30px;
   opacity: 0.8;
}

.content h1{
    font-family: Arial;
    font-size: 50px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content span{
color: rgb(255, 136, 0);
} 

crunchyroll {
    position: absolute;
    font-size: 14px;
    color: white;
    background-color: rgb(255, 136, 0);
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-family: Arial;
    color: black;
    cursor: pointer;
    font-size: 18px;

}
crunchyroll:hover {
    background-color: white;
    color: rgb(255, 136, 0);
}

.form {
    width: 300px;
    height: 450px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50% , rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 20%;
    left: 80%;
    border-radius: 10px;
    padding: 25px;
    margin-right: 7%;
    margin-left: -7%;
}

.form h2{
    width: 220px;
    font-family: Arial;
    text-align: center;
    color: #fff;
    font-size: 22px;
    background-color: rgba(255, 136, 0, 0.773);
    border-radius: 10px;
    padding: 10px;
    margin: auto;
}
.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid rgb(255, 136, 0);
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: Arial;
    letter-spacing: 1px;
    margin-right: 30px;
    margin-left: 30px;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: #ffffffab;
    font-family: Arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background: rgba(255, 136, 0, 0.773);
    border: none;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.4s ease;
    color:#fff;
    margin-right: 30px;
    margin-left: 30px;
}

.btnn:hover{
    background: rgb(255, 255, 255);
    color: rgb(255, 136, 0);
}

.btnn a{
    text-decoration: none;
    font-family: Arial;
}

.form .link{
    font-family: Arial;
    font-size: 17px;
    padding-top: 10px;
    text-align: center; 
    color: #fff;
}

.form .liw{
    font-family: Arial;
    font-size: 17px;
    padding-top: 10px;
    text-align: center; 
    color: #fff;
}

.form .link a{
    text-decoration: none;
    color: rgb(255, 136, 0);
}

.icons a{
text-decoration: none;
color: #fff;
font-size: xx-large;
}
.icons{
    margin-top: 30px;
    text-align: center;
    
}
.icons :hover{
    color: rgb(255, 136, 0);
    transition: 0.4s ease;
}

.scroll-content{
    color:#fff;
   background-color: #000000;
    background:linear-gradient(to top, rgba(0,0,0,0.8)5% , rgba(0,0,0,0.8)5%); 
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom:50px;
    padding-top:50px;
    padding-bottom:80px;
    position: absolute;
    margin-left:26.5%;
    margin-right: 30%;
    margin-bottom:10%;
    margin-top:3%;
    
    
}

h4{
  color: rgb(255, 136, 0);
  font-family: Arial;
    font-size: x-large;  
}

h3{
color: rgb(255, 136, 0);
  font-family: Arial;
    font-size: xx-large;   
}

p{
 font-family: Arial;  
 opacity: 0.8; 
 font-size: large
}






